.wrap-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zerogrid{
    width: 1000px;
    height: 100%;
}

.main-header .row{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0px 0px;
}

.col-2-5{
    width: 40%;
}

.col-3-5{
    width: 60%;
}

.col-1-2{
    width: 50%;
}

.col-1-3{
    width: 33.3%;
}

.wrap-box .row, .wrap-footer .row{
    display: flex;
    flex-wrap: wrap;
}

.wrap-col{
    padding: 10px;
}

.wrap-col .row{
    display: flex;
    flex-direction: column;
}

label>.wrap-col{
    width: 1000px;
}

article.single-post .wrap-post{
    margin-top: 0;
}

h3.t-center{
    margin: 0;
    padding: 45px;
}





